.s1{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
	margin-top:-30px;
}

.s2{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
}

.s7{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
}
