.d1{
    background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
	margin-top:-30px;
}

.d2{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
}
.man{
	font-size:20px;
	padding:20px;
}
.mad{
	padding:10px;
	padding-right:150px;	
}

.d3{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
}

.d4{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
}
.coolie{
	padding:20px;
}

.d5{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
}

.d7{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
}
