.r1{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
	margin-top:-30px;
}

.r2{
    background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
}

.r5{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
}
.r6{
	 background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
	 padding-bottom:30px;
}

.r7{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
	padding-bottom:50px;
}

.r8{
	 background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
}