.g1{
background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
}
.panda{
	color:white;
}
.g2{
	border:solid;
	
}
.g4{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
	padding-bottom:70px;
}

.g5{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
	padding-bottom:50px;
}
.g6{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/frame.png);
	padding:80px;
}
.g7{
	background-image:url(https://nellaikarupatticoffee.com/public/assets/images/brown.png);
}